<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Prep.io</span>
        <img class="h-10 w-auto" src="assets/prep.io.png" alt="Prep.io">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text/6 font-semibold text-gray-900">Interviews</a>
      <a href="#" class="text/6 font-semibold text-gray-900">About Us</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text/6 font-semibold text-gray-900">Log in / Sign Up <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>
